{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %} 

<div class="content">
    <table class="views-table cols-2">
    <!--<thead>
        <tr>
            <th> Resource </th>
        </tr>
    </thead>-->
    <tbody>
        <tr>
            <td style="padding:15px;">GET</td>
            <td style="padding:15px;">/api/games</td>
        </tr>
        <tr>
            <td style="padding:15px;">POST</td>
            <td style="padding:15px;">/api/games</td>
        </tr>

    </tbody>
    </table>
</div>

{% endblock %}