{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %} 

  
    <div class="row">
      <div class="col-xs-12"   >
        <form name="editSubmit" method=post action="{{ url_for('frontend.edit_game',id=game.id) }}">
          <div  class="row" >
            <div class="col-xs-4" id="game_container">
              <div class="picture_container" id="picture_{{game.id}}" >
                  <img src="/dynamicgamedb/frontend/static/img/bf4.jpg" height="400"  width="298" />
                </div>
                
                  <div class="info_container" id="edit_picture_container"   >
                    <b> {{game.title}} </b> <br>
                    Platform: {{game.platform   | truncate(16,True)}} <br>
                    Release date: {{game.date   | truncate(14,True)}} <br>    <!-- slightly longer name but date shouldn't go over 14 anyway. -->
                    Developer: {{game.developer | truncate(16,True)}} <br>
                    Publisher: {{game.publisher | truncate(16,True)}} <br>
                    <br>
                    Add/Update Picture URL:
                    <input name="picture" class="form-control" type="text" value="{{game.picture}}" id="edit_picture" />
                  </div>
                
              </div>
            <div class="col-xs-8" id="edit_game_description">
              
              <!-- ***********************OLD **************************
              <div class="row">
                <form name="editSubmit" method=post action="{{ url_for('frontend.edit_game',id=game.id) }}">
                  <div class="col-xs-4" id="title_container" onclick='getInputWindow("title_container","{{game.title}}")'  >

                     <h4>{{game.title}} </h4>  
                  </div>
                
                  <a href="javascript:document.editSubmit.submit()"  id="edit_game_link"  >
                    <div class="col-xs-4" style="float:right; text-align:right; " > 
                      <h4>Save Changes</h4>  
                    </div> <br>
                  </a>
                </form>
              </div>
               *********************OLD*************************  -->
            <!--  <form name="editSubmit" method=post action="{{ url_for('frontend.edit_game',id=game.id) }}"> -->
                <div class="row">
                
                  <div class="col-xs-4" id="game_title" >
                    <input name="title" class="form-control" type="text" value="{{game.title}}" id="edit_title" /> 
                  </div>
                  <a href="javascript:document.editSubmit.submit()" id="edit_game_link" >
                    <div class="col-xs-4" id="edit_game_container"  > 
                      Save Changes  
                    </div> <br>
                  </a>
                
                </div>
              
                <div class="row" id="platform_row" >
                  <div class="col-xs-3" id="left_game_info" >
                    Platform:  
                    <select class="form-control" name="platform" value="{{game.platform_id}}" id="platform_select">
                      {% for platform in platforms %}
                        {% if platform.id == game.platform_id %}
                          <option selected="selected" value="{{platform.id}}">{{platform.name}}</option>
                        {% else %}
                          <option value="{{platform.id}}">{{platform.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select >  
                  </div>
                  <div class="col-xs-3" id="right_game_info"  >
                    Release date: <input name="release_date" class="form-control" type="date" value="{{game.date}}" id="edit_inputs"  />  
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3" id="left_game_info" >
                    Developer: <input name="developer" class="form-control" type="text" value="{{game.developer}}" id="edit_inputs" />  
                  </div>
                  <div class="col-xs-3" id="right_game_info" >
                    Publisher: <input name="publisher" class="form-control" type="text" value="{{game.publisher}}" id="edit_inputs" />   
                  </div>
                </div>
              
                <div class="row" id="description_row" >

                  <p style="font-size:large; padding-left:15px">Description: </p>
                  <textarea name="description" class="form-control" type="text"  id="edit_textarea">{{game.info}}</textarea>   
                </div>
            <!--  </form> -->
            </div>
          </div>
        </form>  
        </div>
      </div>

      


       <div id="result">
      result
      </div>

  
  








{% endblock %}