{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %} 

  
    
      


    <div class="row">
      <div class="col-xs-12"   >
        
          <div  class="row" >
            <div class="col-xs-4" id="game_container">
              <div class="picture_container" id="picture_{{game.id}}" onmouseover='moveInfoFront({{game.id}})'>
                  <img src="{{game.picture}}" height="400"  width="298" />
                </div>
                <a href="/game/{{game.id}}">
                  <div class="info_container" id="info_{{game.id}}" onmouseout='moveInfoBack({{game.id}})'  >
                    <b> {{game.title}} </b> <br>
                    Platform: {{game.platform   | truncate(16,True)}} <br>
                    Release date: {{game.release_date   | truncate(14,True)}} <br>    <!-- slightly longer name but date shouldn't go over 14 anyway. -->
                    Developer: {{game.developer | truncate(16,True)}} <br>
                    Publisher: {{game.publisher | truncate(16,True)}} <br>
                    Total Relations: {{game.relations }} <br>
                    <br>
                    Click for more info
                  </div>
                </a>
              </div>
            <div class="col-xs-8" id="game_description">
              

              <div class="row">
                <div class="col-xs-4" id="game_title">
                  {{game.title}}  
                </div>
                <a href="/game/{{game.id}}/edit" id="edit_game_link"  >
                  <div class="col-xs-4" id="edit_game_container" > 
                    Edit  
                  </div> <br>
                </a>
              </div>

              <div class="row" id="platform_row" >
                <div class="col-xs-3" id="left_game_info" >
                  Platform:  {{game.platform}}  
                </div>
                <div class="col-xs-3" id="right_game_info"  >
                  Release date: {{game.release_date}}  
                </div>
              </div>

              <div class="row">
                <div class="col-xs-3" id="left_game_info" >
                  Developer: {{game.developer}}  
                </div>
                <div class="col-xs-3" id="right_game_info" >
                  Publisher: {{game.publisher}}  
                </div>
              </div>
              <div class="row" id="description_row"  >


              <p style="font-size:large; padding-left:15px">Description: </p>
              {{game.info}}
              </div>
              <div class="row" id="last_edited_container" >
              Lasted edited by: 
              </div>
            </div>
          </div>
        
        
          <div class="row" id="related_bar" >
            <div class="col-xs-4" id="top_related_container"  >
                 Top Related Games 
            </div>
            <div class="col-xs-4" id="relation_info" >
              {% set relations = 0 %}
              {% set numberOfGames = 0 %}
              {% for loopGame in games %}
                {% if loop.last %}
                  {% set relations = relations + loopGame.relation_count  %}
                  {% if loop.length > 1 and relations > 1%}
                    {{loop.length}} games by {{relations}} relations
                  {% elif loop.length <= 1 and relations > 1 %}
                    {{loop.length}} game by {{relations}} relations
                  {% else %}
                    {{loop.length}} game by {{relations}} relation

                  {% endif %}
                {% else %}
                  {% set relations = relations + loopGame.relation_count  %}
                {% endif %}
              {% endfor %}
             
             
            
            </div>
            <!-- <a href="javascript:showSearchBar({{game.id}})" id="relate_game_link"  > -->
              <a href="/game/{{game.id}}/relate" id="relate_game_link"  >
              <div class="col-xs-4" id="relate_game_div"  >
                Relate game 
              </div>
            </a>
          </div>

          <div class="row" id="games_row"  >
            {% set column = 1 %}
            {% for loopGame in games %}

              <div class="col-xs-4" id="game_container">
                <div class="picture_container" id="picture_{{loopGame.id}}" onmouseover='moveInfoFront({{loopGame.id}})'>
                  <img src="{{loopGame.picture}}" height="400" width="298" />
                </div>
                <a href="/game/{{loopGame.id}}" id="game_link" >
                  <div class="info_container" id="info_{{loopGame.id}}" onmouseout='moveInfoBack({{loopGame.id}})'  >
                    <b> {{loopGame.title}} </b> <br>
                    Platform: {{loopGame.platform       | truncate(16,True)}} <br>
                    Release date: {{loopGame.release_date       | truncate(14,True)}} <br>    <!-- slightly longer name but date shouldn't go over 14 anyway. -->
                    Developer: {{loopGame.developer     | truncate(16,True)}} <br>
                    Publisher: {{loopGame.publisher     | truncate(16,True)}} <br>
                    Relations: {{loopGame.relation_count}} <br>
                    <br>
                    Click for more info
                  </div>
                </a>
              </div>
              {% set column = column+1 %}
              {% if column==4 %}
                {% set column=1 %}
                </div>
                <div class="row" id="games_row"    >
              {% endif %} 
            {% endfor%}
          </div>



        </div>   
      </div>
<!--
      <div id="result">
        result
      </div>
-->
  
  








{% endblock %}