{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %} 

      

      <div id="games_search_text" >
      {% if search == "GET" %}
        Most popular.
      {% else %}
        Search results for "{{search}}".
      {% endif %}    
      
      
        
      </div>

      <div class="row" id="search_results">
      	<div class="col-xs-12" id="games_row_container"  >
          <div class="row" id="games_row"  >
            {% set column = 1 %}
            {% for game in games %}

              <div class="col-xs-4" id="game_container">
                <div class="picture_container" id="picture_{{game.id}}" onmouseover='moveInfoFront({{game.id}})'>
                  <img src="/dynamicgamedb/frontend/static/img/bf4.jpg" height="400" width="298" />
                </div>
                <a href="/game/{{game.id}}">
                  <div  class="info_container" id="info_{{game.id}}" onmouseout='moveInfoBack({{game.id}})' >
                    Title: {{game.title}} <br>
                    Platform: {{game.platform}}
                  </div> 
                </a>
              </div>
              {% set column = column+1 %}
              {% if column==4 %}
                {% set column=1 %}
                </div>
                <div class="row" id="games_row"   >
              {% endif %} 
            {% endfor%}
          </div>
        </div>
      </div>

      <div id="result">
      result
      </div>







{% endblock %}