{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %} 

      

      <div id="games_search_text" >
      {% if search == "GET" %}
        Most popular
      {% else %}
        Search results for "{{search}}"
      {% endif %}    
      
      
        
      </div>

      <div class="row" id="search_results">
      	<div class="col-xs-12" id="games_row_container"  >
          <div class="row" id="games_row"  >
            {% set column = 1 %}
            {% for game in games %}

              <div class="col-xs-4" id="game_container">
                <div class="picture_container" id="picture_{{game.id}}" onmouseover='moveInfoFront({{game.id}})'>
                  <img src="{{game.picture}}" height="400" width="298" />
                </div>
                <a href="/game/{{game.id}}">
                  <div class="info_container" id="info_{{game.id}}" onmouseout='moveInfoBack({{game.id}})'  >
                    <b> {{game.title}} </b> <br>
                    Platform: {{game.platform   | truncate(16,True)}} <br>
                    Release date: {{game.release_date   | truncate(14,True)}} <br>    <!-- slightly longer name but date shouldn't go over 14 anyway. -->
                    Developer: {{game.developer | truncate(16,True)}} <br>
                    Publisher: {{game.publisher | truncate(16,True)}} <br>
                    Total Relations: {{game.relations }} <br>
                    <br>
                    Click for more info
                  </div> 
                </a>
              </div>
              {% set column = column+1 %}
              {% if column==4 %}
                {% set column=1 %}
                </div>
                <div class="row" id="games_row"   >
              {% endif %} 
            {% endfor%}
            {% if search != "GET" %}
            <div class="col-xs-4" id="game_container">
              <a href="/game/add" >
                <div class="info_container" id="add_new_game" >
                  <b> Didn't find what you want? </b> <br> <br>
                  <b> Add game    </b>
                </div>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
<!--
      <div id="result">
      result
      </div>
-->






{% endblock %}