
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}DynamicGameDB</title>

    <!-- Bootstrap core CSS -->
      <link rel=stylesheet type=text/css href="/dynamicgamedb/frontend/static/css/bootstrap.css">
      <link rel=stylesheet type=text/css href="/dynamicgamedb/frontend/static/css/layout.css">


    <!-- Custom styles for this template -->
    

    <!-- JQuery import in top to avoid Uncaught Reference error -->
        <script src="/dynamicgamedb/frontend/static/assets/js/jquery.js"></script>
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  {% set navigation_bar = [
      ('/game/add', 'add game', 'Add game'),
      ('/login','sign in with google', 'Sign in with Google')
  ] -%}
  {% set active_page = active_page|default('index') -%}

  <body>
  {% block top_bar %}

  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container" id="top_bar_container" >
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">DynamicGameDB</a>
    </div>
    
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation" id="top_bar_nav" > 
      <!--  800 in order to make it collapse in a nice way -->        
      <ul class="nav navbar-nav">
        <form class="navbar-form navbar-left" role="search" id="top_bar_search_group"   action="{{ url_for('frontend.games') }}" method=post >
          <div class="input-group" id="top_bar_search_bar">
            <input id="btn-input" type="text" name="search_field" class="form-control input-sm" placeholder="Search"  >
            <span class="input-group-btn">
              <button class="btn btn-success btn-sm" id="btn-chat">Search</button>
            </span>
          </div>
        </form>
       {% for href, id, caption in navigation_bar %}
          <li {% if id == active_page %} class="active" {% endif%} >
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>  
    </nav>
  </div>
</header>







 
  {% endblock %}

  {% block default_body %}
           
    {% if error %}
      <div class="container">  
        <div id="alert_div" class="alert alert-danger">  
          <a class="close" data-dismiss="alert">×</a>  
          <strong>Warning!</strong> {{error}}                                             
        </div>  
      </div> 
    {% endif %}

  {% endblock %}  

  <div id="body_container" >
  {% block body %} {% endblock %}
  </div> 




  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  </script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="/dynamicgamedb/frontend/static/js/bootstrap.min.js"></script> 

 
  </body>
</html>
