#navbar_container {
  /*max-width:1920px; */
  /*padding-left:475px; */
  margin-left: 0px;
  margin-right: 0px;
}

body {
  background-color: #cccccc;   
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#top_bar_container {
    max-width:800px;
}

#top_bar_nav{
    width:800px;
}

#body_container {
    
    width:940px;
    overflow:auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#related_search_group {
    padding:0px;
}


#top_bar_search_group{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    max-width: 350px; 
}

#search_results{
    /*padding-right: 16px; */
}

#games_row_container {
   /* margin-left:16px; */   /* more centered when turning on but horizontal scrollbar always on */
}

#games_row {
    margin-top: 15px;
}

#games_search_text {
    margin-left: -15px;
}

#game_container {
    width:313px;
    height:400px;
    position: relative;
}

#game_description {
    text-align: left;
    min-height: 400px;
    width:610px;
    background-color: #222222;
    color: white; 
}



#edit_game_description {            /* same as game_description but height can't be longer then picture (400px) since textarea got scroll */
    text-align: left;
    height: 400px;
    width:610px;
    background-color: #222222;
    color: white; 
}

.picture_container, 
.info_container {
    width: 298px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.info_container {
    padding-top:100px; 
    padding-left:15px; 
    font-size:large;
    opacity: 0.8;
    background-color:black; 
    color:white;
    
  /* z-index:9; */ 
}

.picture_container {
    z-index: 10; 
}


#related_bar {
    
    background-color: #222222;
    height:46px;
    margin-top: 15px; 
    margin-right:0px;
    color: #999999;
}

#relate_game_link {         
    color: #999999;
}

#relate_game_link:hover {
    color: #fff;
}

#edit_game_container {
    width:250px;
    float:right; 
    text-align:right;  
    font-size: x-large; 
    padding-top:15px;
    padding-right:30px; 
}

#edit_game_link {
    color: #999999;
}



#edit_game_link:hover {
    color: #fff;
}



#search_button {
    background-color: #FF3399;
    border-color: #FF3399;
}

#game_title {
    
    font-size: x-large;
    padding-left:30px; 
    padding-top:15px;
    width:350px; 
}

#left_game_info {
    padding-left:30px;
    padding-top:15px; 
    font-size: large; 
    width:300px
}

#right_game_info{
    padding-top:15px; 
    font-size: large; 
    width:300px 
}
#platform_row {
    padding-top:15px;
}

#platform_select{
    background-color:#222222; 
    color:#999999; 
    border:none;
}

#edit_title{
    font-size:x-large; 
    background-color: #222222; 
    color: #999999; 
    border-width:0px; 
    border:none;
}

#edit_picture{
    font-size:large; 
    background-color: #222222; 
    color: white; 
    border-width:0px; 
    border:none;
    width:268px;
}

#edit_picture_container{
    z-index:11;
}

#edit_inputs{
    font-size:large; 
    background-color: #222222; 
    color: #999999; 
    border-width:0px; 
    border:none;
}
#edit_textarea{
    min-height:100px; 
    background-color: #222222; 
    color: #999999; 
    border-width:0px; 
    border:none;
}

#description_row {
    padding-top:30px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 15px;
    text-align: justify;
    font-size: small;

}

#top_related_container {
    height:46px; 
    font-size:large; 
    padding-top:10px
}

#top_related_search_form {
    height:46px; 
    font-size:large; 
    padding-top:0px
}

#relation_info{
    height:46px; 
    font-size:large; 
    text-align:center; 
    padding-top:10px;
}

#relate_game_div {
    height:46px; 
    font-size:large; 
    text-align:right; 
    padding-top:10px
}

#add_new_game{
    background-image: url(http://i.imgur.com/4Dzdiky.png);
    opacity: 1.0;

}